.button {
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 4px;
}

.button:hover {
  cursor: pointer;
  border: solid 2px rgb(0, 153, 255);
}

.container {
  display: flex;
  flex-direction: column;
  width: 68px;
  min-width: 36px;
  height: 100vh;
  background-color: rgb(233, 173, 160);
  margin-right: 10px;
  border-radius: 0 15px 15px 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
}

.link {
  width: 36px;
  display: inline-block;
}
