.element {
  margin-right: 10px;
}

.labelsContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.label {
  width: 200px;
  word-wrap: break-word;
  margin-right: 20px;
}

.deadline {
  width: 125px;
  margin-right: 20px;
}

.duration {
  width: 70px;
  margin-right: 20px;
}

.container {
  position: relative;
  margin: 5px 0;
}

.edit {
  margin-left: 20px;
}

.edit:hover {
  cursor: pointer;
}
