.element {
    position: absolute;
    top: 0;
}

.labelsContainer {
    display: flex;
    flex-direction: row;
    margin-left: 28px;
}

.label {
    width: 128px;
    word-wrap: break-word;
    margin-right: 20px;
}

.deadline {
    width: 75px;
}

.duration {
    width: 75px;
}

.container {
    position: relative;
    margin: 5px 0;
}