.container {
  border: black 1px solid;
  margin: 15px 0px;
  padding: 10px;
  border-radius: 10px;
  width: 525px;
  float: left;
  background-color: rgb(255, 245, 243);
}

.textInput {
  width: 200px;
  height: 25px;
  font-family: "Georgia";
  font-size: 16px;
}

.dateInput {
  width: 130px;
  height: 25px;
  font-family: "Georgia";
  font-size: 16px;
}
