.subtext {
  color: rgb(131, 129, 129);
  font-size: 0.9em;
  margin: 0 0 0 8px;
}

.columnStack {
  display: flex;
  flex-direction: column;
}

.rowStack {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.rowEvenSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.equalSpace {
  display: flex;
  justify-content: space-between;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}
.reverseRowStack {
  display: flex;
  flex-direction: row-reverse;
}

.leftMargin {
  margin-left: 90px;
}

.container {
  border: black 1px solid;
  margin: 15px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 245, 243);
}

.fadeIn {
  animation: fadeInAnime 0.5s;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOutAnime 0.5s;
}

@keyframes fadeOutAnime {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
