.subtext {
  color: rgb(131, 129, 129);
  font-size: 0.9em;
  margin: 0 0 0 8px;
}

.columnStack {
  display: flex;
  flex-direction: column;
}

.rowStack {
  display: flex;
  flex-direction: row;
}

.leftMargin {
  margin-left: 90px;
}
